/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
/* -Fonts- */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka';

}

body {
    
    margin: 0;
    background-color: black;
}

.logo img{
    max-width: 75px;
    max-height: auto;
}

.logo {
    margin-left: 3vw;
}


header {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    background-color: #1F1F1F;
    align-items: center;
    top: 0;
    left: 0;
    padding: 0px 50px;
}

ul {
    padding-right: 20px;
}

nav a {
    font-family: 'Fredoka';
    display: inline-block;
    margin: 20px;
    color: white;
    text-decoration: none;
    transition: .3s;
}

nav a:hover,
nav a.active {
    color: #0ef;
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.intro-title {
    font-size: 100px;
    font-family: 'Fredoka';
    color: white;

}

.intro-subtitle {
    font-family: 'Fredoka';
    color: white;
}

#intro {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0)), url(/assets/salon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

#about {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.9)),url(/assets/tools.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#services {
    background-image: url(/assets/haircut.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#units {
    background-image: url(/assets/scissors.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#contact {
    background-image: url(/assets/working.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}